body {
  background-color: #a8c7ad9e;
}

img {
  margin-block: 5% 5%; 
  margin-inline: 5% 5%;
}

/* Links */
a {
  color: black;
}

a:hover {
  color: grey;
	opacity:0.8;
	text-decoration:none;
}

/* Custom Classes */
.middle {
  padding: 10% 10%;
}